header {
  border: 1px solid white;
}
ul {
  list-style: none;
  margin: 0;
  padding: 20px;
}
a {
  font-size: 40px;
  padding: 20px;
  color: white;
  text-decoration: none;
}
a:hover {
  color: aqua;
  text-decoration: none;
}
li {
  display: inline;
}
body {
  background-color: darkslategray;
  color: white;  
}
h1 {
  text-align: center;
  font-style: italic; 
}
h2 {
  font-style: italic; 
  text-align: center;
  border: 1px solid white;
}
h3 {
  font-style: italic;
  text-decoration: underline;
}
h4 {
  font-style: italic; 
}
h5 {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
video {
  display: block;
  margin: 0 auto;
}
.go-top {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  color: aquamarine(0, 51, 153, 0.5);
  border: 1px solid aquamarine(0, 51, 153, 0.5);
  background-color: white(0, 51, 153, 0.1);
}
.go-top:hover {
  color: aquamarine(0, 51, 153, 0.8);
  border: 1px solid aquamarine(0, 51, 153, 0.8);
  background-color: white(0, 51, 153, 0.2);
}